.btn{
  border-radius: 0;
  font-size: $primary-size;
}
.form-control{
  border-radius: 0;
  box-shadow: none;
  font-size: $primary-size;
  color: $primary-color;
}
.input-group-addon{
  border-radius: 0;
}